/**
  存放公共变量样式
 */

//外边框样式
.backgroundVar{
  border-radius: 4px;
  border: 1px solid #4db3ff70;
  z-index: 100;
  background: linear-gradient(to left,#4db3ff,#4db3ff) left top no-repeat,linear-gradient(to bottom,#4db3ff,#4db3ff) left top no-repeat,linear-gradient(to left,#4db3ff,#4db3ff) right top no-repeat,linear-gradient(to bottom,#4db3ff,#4db3ff) right top no-repeat,linear-gradient(to left,#4db3ff,#4db3ff) left bottom no-repeat,linear-gradient(to bottom,#4db3ff,#4db3ff) left bottom no-repeat,linear-gradient(to left,#4db3ff,#4db3ff) right bottom no-repeat,linear-gradient(to left,#4db3ff,#4db3ff) right bottom no-repeat;
  background-size: 1px 20px,20px 1px,1px 20px,20px 1px;
}
.bubbleStyle {
  position: absolute;
  top: 0;
  left: 0;
  :deep(.el-dialog){
    width: 420px;
    margin-right:0;
    margin-top: 50px;
  }
  :deep(.el-dialog__header){
    border-bottom: 1px solid grey;
    margin-right:0;
  }
  :deep(.el-dialog){
    @extend .backgroundVar
  }
  :deep(.el-dialog__title){
    color: #ffffff;
  }
  :deep(.el-image){
    width: 100%;
    overflow: hidden;
  }
  :deep(.el-overlay){
    background-color: rgb(0 0 0 / 0%);
  }
}

