.mapView {
  .wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    height: 74px;
    background: url(~@/assets/images/head/top.png);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .toolBar {
    position: absolute;
    top: 0;
    right: 0;

    :deep(.el-button) {
      border: none;
      background-color: #2b2c2fcc;
      color: #ffffff;
    }
  }
}
