@import "~@/assets/css/globalVar.scss";
.baseLayerModules{
  .block {
    padding: 10px ;
    text-align: center;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    vertical-align: top;
  }
  .block:last-child {
    border-right: none;
  }
  .demonstration {
    display: block;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
  }
  .image {
    border: 1px solid #4db3ff78;
    width: 75px;
    height: 70px;
    display: block;
    cursor: pointer;
    transition: all 0.6s;
  }
  .image:hover{
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    transform: scale(1.1);
  }
}

