@import "~@/assets/css/globalVar.scss";
.baseLayerModules{
  .block {
    padding: 10px ;
    text-align: center;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    .image {
      width: 75px;
      height: 70px;
      display: block;
      cursor: pointer;
      margin: 0;
      padding: 0;
      float: left;
      box-shadow: 0 5px 15px -5px #00000070;
      :deep(.el-image__inner){
        transition:all 0.3s linear;
      }
      :deep(.el-image__inner):hover{
        transform: scale(1.3);
      }
    }
    .texts {
      display: block;
      color: #ffffff;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
    }
    .activeCss{
      color: #fab1a0;
    }
  }
  .block:last-child {
    border-right: none;
  }

}

