@font-face {
  font-family: "iconfont"; /* Project id 3406887 */
  src: url('iconfont.woff2?t=1653633887377') format('woff2'),
       url('iconfont.woff?t=1653633887377') format('woff'),
       url('iconfont.ttf?t=1653633887377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tindixing:before {
  content: "\edbd";
}

.icon-tuceng:before {
  content: "\e77d";
}

.icon-wenjianjia:before {
  content: "\e673";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-tuceng-:before {
  content: "\e612";
}

.icon-earth:before {
  content: "\e9ee";
}

